{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}">

<h1>ToDo List</h1>

<form method="POST" action="/">
    {% csrf_token %}
    {{form.title}}
    <input type="submit", name="Create Task">
</form>
<div class='center'>
{% for task in tasks %}
    <div class="todo">
        <a class="btn btn-primary" href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>

        {% if task.complete == True %}
        <strike>{{task}}</strike>
        {% else %}
        <span>{{task}}</span>
        {% endif %}
    </div>

{% endfor %}
</div>
